In [1]:
# Homework: List and Tuple Exercises
# 1. Create and Access List Elements
# Create a list containing five different fruits and print the third fruit.

fruits = ['apple', 'pear', 'banana', 'kiwi', 'strawberry']

fruits[2]

'banana'

In [4]:
# 2. Concatenate Two Lists
# Create two lists of numbers and concatenate them into a single list.
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = list1 + list2
result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 3. Extract Elements from a List
# Given a list of numbers, extract the first, middle, and last elements and store them in a new list.
numbers = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
newlist = []

firstnum = numbers[0]
middlenum = numbers[len(numbers) // 2] if len(numbers) % 2 != 0 else numbers[len(numbers) // 2 - 1]
lastnum = numbers[-1]
newlist = [firstnum, middlenum, lastnum] 
print(newlist)

[11, 15, 20]

In [24]:
# 4.Convert List to Tuple
# Create a list of your five favorite movies and convert it into a tuple.
movies = ['Harry Poter', 'Spiderman', 'The Joker', 'The Matrix', 'Intouchable']
tpl = tuple(movies)
tpl

('Harry Poter', 'Spiderman', 'The Joker', 'The Matrix', 'Intouchable')

In [ ]:
# 5. Check Element in a List
# Given a list of cities, check if "Paris" is in the list and print the result.
cities = ['London', 'New-York', 'Tashkent', 'Moscow', 'Berlin', 'Ankara', 'Paris']


if  'Paris' in cities:
    print('Paris is in the list.')
else:
    print('Paris is not in the list!')

Paris is in the list.

In [49]:
# 6. Duplicate a List Without Using Loops
# Create a list of numbers and duplicate it without using loops.

numbers = [1, 2, 3, 4, 5, 6, 7]
dublicate_numbers = numbers*2
dublicate_numbers

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [64]:
# 7. Swap First and Last Elements of a List
# Given a list of numbers, swap the first and last elements.
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers[0], numbers[-1] = numbers[-1], numbers[0]
numbers

[7, 2, 3, 4, 5, 6, 1]

In [68]:
# 8. Slice a Tuple
# Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10 )
slice = tpl[3:8]
slice

(4, 5, 6, 7, 8)

In [ ]:
# 9. Count Occurrences in a List
# Create a list of colors and count how many times "blue" appears in the list.
colors = ['blue', 'red', 'green', 'grey', 'black', 'white', 'purple', 'blue', 'red', 'blue']
cnt = colors.count('blue')
print(f'Count of blues: {cnt}')

Count of blue: 3

In [75]:
# 10. Find the Index of an Element in a Tuple
# Given a tuple of animals, find the index of "lion".
animals = ('wolf', 'elephant', 'tiger', 'lion', 'zebra', 'jaguar', 'bear', 'giraffe')
indexOfLion = animals.index("lion")
print("Lion's index: ", indexOfLion)

Lion's index:  3

In [76]:
# 11. Merge Two Tuples
# Create two tuples of numbers and merge them into a single tuple.
tpl1 = (1, 2, 3, 4, 5, 6, 7)
tpl2 = (8, 9, 10, 11, 12, 13)
merge_tuple = tpl1 + tpl2
merge_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

In [85]:
# 12. Find the Length of a List and Tuple
# Given a list and a tuple, find and print their lengths.
tpl = (1, 2, 3, 4, 5, 6, 7)
lis = [8, 9, 10, 11, 12, 13]
length_list = len(lis)
length_tuple = len(tpl)
print(f"Length of a List: {length_list}\nLength of a Tuple: {length_tuple}")

Length of a List: 6
Length of a Tuple: 7

In [91]:
# 13. Convert Tuple to List
# Create a tuple of five numbers and convert it into a list.
tupnum = (11, 22, 33, 44, 55)
# lisnum = []
# for i in tupnum:
#     lisnum.append(i)
lisnum = list(tupnum)
lisnum

[11, 22, 33, 44, 55]

In [101]:
# 14. Find Maximum and Minimum in a Tuple
# Given a tuple of numbers, find and print the maximum and minimum values.
tp = (2, 4, 5, 1, 7, 3, -5, 33, 44, 29)
# maxnum = tp[0]
# minnum = tp[0]
# for i in tp:
#     if i > maxnum:
#         maxnum = i
#     if i < minnum:
#         minnum = i
maxnum = max(tp)
minnum = min(tp)

print(f"MAX value: {maxnum}.\nMIN value {minnum}")

MAX value: 44.
MIN value -5

In [107]:
# 15. Reverse a Tuple
# Create a tuple of words and print it in reverse order.
tp = ('Python', 'C++', 'C', 'Java', 'Javascript', 'SQL', 'PHP', 'Go')
#reverseTuple = tp[::-1]
reverseTuple = tuple(reversed(tp))
reverseTuple

('Go', 'PHP', 'SQL', 'Javascript', 'Java', 'C', 'C++', 'Python')